* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
}


h1 {
    color: rgb(48, 48, 48);
}


.pic {
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}


.button-container {
    display: flex;
    gap: 15px;
    
}

button {
    width: 120px;
    height: 45px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}


#btn1 {
    background-color: #C5D89D;
    border: 2px solid #5d9404;
    color: #3f6601;
}


#btn2 {
    background-color: #EA7B7B;
    border: 2px solid #9E3B3B;
    color: #9E3B3B;
}


@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .pic {
        width: 230px;
    }

    button {
        width: 140px;
        height: 50px;
    }
}


@media (min-width: 992px) {
    h1 {
        font-size: 22px;
    }
}
