* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Courier New', Courier, monospace;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}

h1{
  color: rgb(48, 48, 48);
}

.gif {
  margin-top: 20px;
  width: 200px;
  height: 200px;
}


.form-container {
  background-color: #ffe4e1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px;
  max-width: 90%;
  margin-bottom: 20px;
}


.form-container label{
  font-weight: bold;
}

#fname,
#lname,
#birthday,
#favoritecolor {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #C5D89D;
  border: 2px solid #5d9404;
  color: #3f6601;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 992px) {
  .form-container {
    width: 360px;
  }

  h1 {
    text-align: center;
    font-size: 24px;
  }
}

@media (max-width: 600px) {
    h1 {
  
    text-align: center;
    font-size: 24px;

  }

  .form-container {
    width: 100%;
    padding: 18px;
  }

  .form-container label {
    font-size: 18px;
  }
}


